
/* Main Components */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 65%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -5;
}

/* Bottom Card */
#bottom-card {
    height: 35%;
    background-color: #444444;
    z-index: 999;
}

.greybg {
    background-color: #444444;
}

/* #middleBottomContainer {
    text-align: center;
    z-index: 1000;
} */

/* #copyBtn {
    display: inline-block;
    z-index: 1000;
    position: absolute;
    bottom: 5%;
    left: 50%;
    text-align: center;
} */

/* #topRightButtonsContainer {
    position: absolute;
    margin: 1%;
    bottom: 5%;
    right: 0;
    z-index: 1000;
} */

/* Function Buttons */
/* .topRightButton {
    padding-right: 1.2em;
    padding-left: 1.2em;
    margin: 0.1em;
} */
#googleMapsBtn {
    width: 3.5em;
    height: 2.5em;
    padding: inherit;
}
#googleMapsLogo {
    width: 2em;
    height: auto;
}
#citymapperBtn {
    width: 3.5em;
    height: 2.5em;
    padding: inherit;
}
#citymapperLogo {
    width: 2em;
    height: auto;
}

@media (max-width: 768px) {
    #mapcodeSearch {
        width: 100%;
    }
    #mapcodeContainer {
        width: 100%;
    }
}

#mapcodeSearch {
    padding: 1%;
    border-radius: 10px;
}

#mapcodeContainer {
    padding: 1%;
    border-radius: 10px;
}

/* General */
.inline {
    display: inline;
}

nav {
    background-color: #444444;
}
