#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#legend-cnt {
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    color: white;
    background-color: #3c3c3c;
    padding: 10px;
    bottom: 0;
    left: 0;
}
