{% extends "layout.html" %}
{% load static %}
{% block title %}Mapshare{% endblock %}
{% block content%}
<p>{% if msg %}{{ msg }}{% endif %}</p>
<div id="map"><a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a></div>
<script type="text/javascript">
    const key = 'mnDqESAstYMabvU6wITv';
    const tileLayer = "https://api.maptiler.com/maps/openstreetmap/{z}/{x}/{y}.jpg";
    const map = L.map('map').setView([{{urlLat}}, {{urlLng}}], {{initialZoom}}); //starting position
    L.tileLayer(`${tileLayer}?key=${key}`,{
      tileSize: 512,
      zoomOffset: -1,
      minZoom: 1,
      attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
      crossOrigin: true
    }).addTo(map);
    map.on("click", function(e) {
        // Add marker to map on click
        const lat = e.latlng.lat;
        const lng = e.latlng.lng;
        let marker = L.marker([lat, lng]).addTo(map);
        //let popup = L.popup()
        //    .setLatLng([lat, lng])
        //    .setContent("Marker")
        //    .openOn(map);
        // TODO: Add logic to remove marker on other click
        fetch("getMapcodeAJAX", {
            method: "POST",
            credentials: "same-origin",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({
                lat: lat,
                lng: lng
            })
        })
        .then(response => response.json())
        .then(data => {
            const success = data.success == "true";
            const url = window.location.origin;
            let content = "Mapcode for this location not available";
            delete data.success
            if (success) {
                content = "";
                Object.keys(data).forEach(context => {
                    content += `[${context}] ${data[context]}<br>`;
                    console.log(context);
                    console.log(data[context]);
                })
            }
            let popup = L.popup()
            .setLatLng([lat, lng])
            .setContent(content)
            .openOn(map);
        });
    });

    
</script>
{% endblock %}