{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo">Mapshare</a>
          <ul class="right hide-on-med-and-down">
            {% comment %} <li><a href="#">Navbar Link</a></li> {% endcomment %}
          </ul>
          <ul id="nav-mobile" class="sidenav">
            {% comment %} <li><a href="#">Navbar Link</a></li> {% endcomment %}
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    <script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    
</body>
</html>